* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
/* Navigation */
#navbar header {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 16px;
}
#navbar ul {
    list-style: none;
}
#navbar ul li {
    padding: 4px 16px 4px 16px;
    text-align: center;
}
#navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(95, 95, 95);
    
    border-bottom: solid 1px black;
    transition: 0.2s ease;
}
#navbar ul li a:hover {
    color: black;
    font-weight: bold;
}
/* Main Doc */
#main-doc {
    margin: 16px;
}
/* Section */
.main-section {
    margin-bottom: 20px;
}
.main-section header {
    padding: 20px 10px;

    font-size: 25px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    text-transform: uppercase;
}
.main-section p {
    margin: 5px 0px;
}
.main-section ul {
    margin: 10px 20px;
}
.main-section ul li {
    margin: 10px 0px;
}
/* Code */
code {
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);

    display: block;

    line-height: 1.5;
    font-family: monospace;

    padding: 10px;
    margin: 15px 0px;
    border-radius: 3px;


}
/* Anchors */
#main-doc a {
    color: dodgerblue;
    text-decoration: underline;
}
@media screen and (min-width: 1018px) {
    #navbar {
        position: fixed;
        width: 250px;
        height: 100%;
        overflow: auto;
        background-color: rgb(219, 219, 219);
    }
    #navbar ul li {
        border-bottom: 1px solid black;
        text-align: left;
        padding: 15px 16px;
    }
    #navbar ul li a{
        text-align: left;
        border: none;
    }
    #top-line {
        display: none;
    }
    #main-doc {
        margin: 0px 0px 0px 260px;
    }
    #Introduction header {
        margin-top: 0px;
        padding-top: 10px;
    }
}